<div style="text-align: center">
  <label >Info</label>
</div>

<form clrForm>
  <clr-input-container>
    <label>Username</label>
    <input clrInput [placeholder]=username name="username" [(ngModel)]="input" />
  </clr-input-container>
  <clr-input-container>
    <label>Email</label>
    <input clrInput placeholder="Fill me in, scotty!" name="email" [(ngModel)]="input" />
  </clr-input-container>
  <clr-input-container>
    <label>Password</label>
    <input clrInput placeholder="Fill me in, scotty!" name="password" [(ngModel)]="input" />
  </clr-input-container>
</form>

