<div style="display: flex; flex-direction: row;margin: 10px">
  <button type="button" class="btn btn-icon" (click)="backHomeBoard()">
    <cds-icon shape="undo"></cds-icon>
  </button>
</div>
<div *ngIf="challenge$ | async as challenge" class="challenge-card">

  <div class="header" style="  display: flex;align-items: center;justify-content: center;gap: 12px;padding: 10px;">
    <h2 class="title">{{ challenge.name }}</h2>
    <app-modify-challenge-name [challenge]="challenge"/>
  </div>

  <div class="section">
    <div class="top-title-btn">
      <div>
        <h4>Owner</h4>
      </div>
      <div>
        <button class="btn btn-outline btn-icon">
          <cds-icon shape="pencil"></cds-icon>
        </button>
      </div>
    </div>
    <div class="chips">
      <span class="chip">{{ challenge.owner.username }}</span>
    </div>
  </div>

  <div class="section">
    <div class="top-title-btn">
      <div>
        <h4>Participants</h4>
      </div>
      <div>
        <button class="btn btn-outline btn-icon">
          <cds-icon shape="pencil"></cds-icon>
        </button>
      </div>
    </div>
    <div class="chips">
      <span class="chip" *ngFor="let p of challenge.participants">
        {{ p.username }}
      </span>
    </div>
  </div>

  <div class="section">
    <div class="top-title-btn">
      <div>
        <h4>Tasks</h4>
      </div>
      <div>
        <button class="btn btn-outline btn-icon">
          <cds-icon shape="pencil"></cds-icon>
        </button>
      </div>
    </div>
    <div class="list">
      <div class="row" *ngFor="let t of challenge.availableTasks">
        <span class="row-title">{{ t.name }}</span>
        <span class="row-sub" *ngIf="t.defaultsPoints !== undefined">
          {{ t.defaultsPoints }} pts
        </span>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="top-title-btn">
      <div>
        <h4>Rewards</h4>
      </div>
      <div>
        <button class="btn btn-outline btn-icon">
          <cds-icon shape="pencil"></cds-icon>
        </button>
      </div>
    </div>
    <div class="list">
      <div class="row" *ngFor="let r of challenge.rewardPool">
        <span class="row-title">{{ r.name }}</span>
        <span class="row-sub" *ngIf="r.description">
          {{ r.description }}
        </span>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="top-title-btn">
      <div>
        <h4>Reward mode</h4>
      </div>
      <div>
        <button class="btn btn-outline btn-icon">
          <cds-icon shape="pencil"></cds-icon>
        </button>
      </div>
    </div>
    <div class="list">
      <div class="row">
        <span class="row-title">
      {{ (challenge.rewardMode) | titlecase }}
        </span>
      </div>
    </div>
  </div>

</div>
