<button type="button" class="btn btn-primary" (click)="openModal()">Pending</button>
<clr-modal [(clrModalOpen)]="findModal">
  <h3 class="modal-title">Pending Friendship</h3>
  <div class="modal-body">
    <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-row *clrDgItems="let f of ((friendships$| async) ?? [])" [clrDgItem]="f">
        <clr-dg-cell>{{ f.receiver.username | titlecase }}
        </clr-dg-cell>
        <clr-dg-action-overflow>
          <button class="action-item" (click)="declineRequest(f.id)">Decline</button>
        </clr-dg-action-overflow>
      </clr-dg-row>
      <!--      <clr-dg-footer>{{ friendships$.length }} users</clr-dg-footer>-->
    </clr-datagrid>
    <app-alert
      [alert]="messageAlert.alert"
      [type]="messageAlert.type"
      [message]="messageAlert.message">
    </app-alert>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="findModal = false">Close</button>
  </div>
</clr-modal>


