
<div class="login-wrapper">
  <form class="login" [formGroup]="forgotForm" (ngSubmit)="handleSend()">
    <div class="login-body">
      <section class="title">
        <div class="welcome">Forgot password</div>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label class="clr-sr-only">Email</label>
          <input
            type="text"
            autocomplete="email"
            name="email"
            clrInput
            placeholder="Enter email"
            formControlName="email"
          />
        </clr-input-container>

        @if (errorMessage !=="") {
          <div class="alert alert-danger">
            {{ errorMessage }}
          </div>
        }

        <button type="submit" class="btn btn-primary">Send new password</button>
        <a href="/register" class="signup">Sign up for an account</a>
        <a href="/login" class="signup">Login</a>
      </div>
    </div>
  </form>
</div>
