<div style="margin: 15px">
  <div style="display: flex; flex-direction: row; justify-content: flex-end">
    <button type="button" class="btn btn-icon" (click)="handleOpenModal()">
      <cds-icon shape="plus"></cds-icon>
    </button>
  </div>
  <div>
    <h1>Your challenges</h1>
    <ng-container *ngIf="challenges$ | async as challenges; else elseTemplateName">
      <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-row *clrDgItems="let c of challenges" [clrDgItem]="c">
          <clr-dg-cell>{{ c.name | titlecase }}</clr-dg-cell>

          <clr-dg-action-overflow *ngIf="userConnected === c.owner.username">
            <button class="action-item" (click)="manage(c.id)">Manage</button>
            <app-delete [challenge]="c"/>
          </clr-dg-action-overflow>

        </clr-dg-row>
      </clr-datagrid>
    </ng-container>

    <ng-template #elseTemplateName>
      <p>No challenges for the moment.</p>
    </ng-template>
  </div>
</div>
<app-create [(opened)]="opened" (closed)="onCreateClosed()"/>
