
<div class="login-wrapper">
    <form class="login" [formGroup]="registerForm" (ngSubmit)="handleRegister()">
    <div class="login-body">
      <section class="title">
        <div class="welcome">Register</div>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input
            type="text"
            autocomplete="username"
            name="username"
            clrInput
            placeholder="Enter username"
            formControlName="username"
          />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-sr-only">E-mail</label>
          <input
            type="text"
            autocomplete="email"
            name="email"
            clrInput
            placeholder="Enter e-mail"
            formControlName="email"
          />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="password"
            clrPassword
            placeholder="Enter password"
            formControlName="password"
          />
        </clr-password-container>

        <clr-password-container>
          <label class="clr-sr-only">Confirm Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="confirm-password"
            clrPassword
            placeholder="Confirm password"
            formControlName="confirmPassword"
          />
        </clr-password-container>


        @if (errorMessage !=="") {
          <div class="alert alert-danger">
            {{ errorMessage }}
          </div>
        }


        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login" class="signup">Back to Login</a>
      </div>
    </div>
  </form>
</div>
