<div class="login-wrapper">
  <form class="login" [formGroup]="verifyForm" (ngSubmit)="onValidateEmail()">
    <div class="login-body">
      <section class="title">
        <div class="welcome">Confirmation</div>
      </section>

      @if (!emailValidated) {
        <h3>Validated</h3>
        <a href="/" class="signup">Back Home</a>
        <a href="/login" class="signup">Login</a>

      } @else {
        <div class="login-group">

          <clr-input-container>
            <label class="clr-sr-only">Email Code</label>
            <input
              type="text"
              autocomplete="code"
              name="code"
              clrInput
              placeholder="Enter code"
              formControlName="code"
            />
          </clr-input-container>
          @if (errorMessage !== "") {
            <div class="alert alert-danger">
              {{ errorMessage }}
            </div>
          }
          <button type="button" class="btn btn-primary" (click)="onValidateEmail()">Confirm</button>

          <a href="/" class="signup">Back Home</a>
        </div>
      }


    </div>
  </form>
</div>

