<button class="btn btn-outline" (click)="modalOpen = true">Change your password</button>

<clr-modal [(clrModalOpen)]="modalOpen">
  <h3 class="modal-title">Change password</h3>

  <div class="modal-body">
    <div style="margin-bottom: 10px">
      <app-alert [alert]="dialogAlert.alert" [type]="dialogAlert.type" [message]="dialogAlert.message"></app-alert>
    </div>
    <form clrForm [formGroup]="passwordForm">

      <clr-input-container>
        <label>Old password</label>
        <input clrInput type="password" formControlName="oldPass" placeholder="Old password" />
      </clr-input-container>

      <clr-input-container>
        <label>New password</label>
        <input clrInput type="password" formControlName="newPass" placeholder="6 to 25 characters" />
      </clr-input-container>

      <clr-input-container>
        <label>Confirm new password</label>
        <input clrInput type="password" formControlName="confirmNewPass" placeholder="Fix the new password" />
        <clr-control-error *ngIf="passwordForm.errors?.['passwordsMismatch']">
          Password mismatch
        </clr-control-error>
      </clr-input-container>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="handleClose()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="handleSend()">Send</button>
  </div>
</clr-modal>
